@charset "UTF-8";

*{ /*Configurações Globais */


}

a{
    color: red;
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color: darkred
}

a:hover{
    color: black;
    text-decoration: underline;
}

.especial{
    background-color: lime;
    color: black;
}

a:active{
    color: aqua;
}

.especial::before{
    content: ' ⇨ ';
    text-decoration: none;
    font-weight: normal;
    color: darkgrey;
}

.especial::after{
    content: ' ⇦ ';
    text-decoration: none;
    font-weight: normal;
    color: darkgrey;
}